@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
:root{
  --text-black: #000000;
  --text-gray: #C4C4C4;
  --text-darkgrey: #947070;
}
.gradient-text {
  background: linear-gradient(243deg, #FCB076 2%, #FB543A 87%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.6em;
  letter-spacing: 0px;
}
.programmer-text {
  background: linear-gradient(45deg, #0072b1 0%, #004080 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  line-height: 1.6em;
  letter-spacing: 0px;
}
li{
  list-style: none;
}
.nav-link{
  text-decoration: none;
  transition: all .3s ease-in;
  padding: 1rem;
  border: 1px solid white;
}
a{
  text-decoration: none;
}
.nav-link:hover{
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}
.nav-container{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 3rem;
}
.nav-list{
  display: flex;
  gap: 32px;
  font-weight: bold;
}
.nav-list a{
  color: var(--text-black);
}

.nav-list li{
  list-style: none;
}

.home-container{
  display: flex;
  width: 100%;
  justify-content: center;
  padding: 1.5rem;
  flex-wrap: wrap;
  gap: 45px;
}
.home-container h2{
  max-width: 35ch;
  font-size: 22px;
}
.home-container p{
  max-width: 35ch;
  color: var(--text-darkgrey);
  padding-top: 3rem;
  line-height: 1.4rem;
  min-width: fit-content;
}
.profile-pic{
  width: 320px;
  border-radius: 5px;
}
.brand-list{
  display: flex;
}
.brand-logo-container{
  display: flex;
  align-items: center;
  gap: 16px;
  margin-top: 16px;
  margin-right: 30px;
  padding: .3rem;
  border-radius: 5px;
  box-shadow: 5px 5px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
}
.brand-logo-container:hover{
  transform: scale(1.1);
  background-color: rgb(241, 188, 241);
  box-shadow: 5px 5px rgb(147, 150, 192, 0.5);
}
.brand-logo{
  width: 32px;
  height: auto;
}
.projects-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 16px;
  padding: 0 3rem;
}

.project-card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  padding: 1rem;
  /* border: 1px solid rgba(0, 0, 0, 0.1); */
  border-radius: 5px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
}
.project-card:hover{
  transform: scale(1.01);
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.2);
}
.project-card h2{
  font-size: 32px;
}
.project-type{
  color: var(--text-darkgrey);
  margin: .5rem 0;
}
.project-description{
  color: var(--text-black);
}
.project-img-copntainer{
  width: 320px;
  height: 320px;
}
.project-img img{
  height: auto;
  width: 100%;
}
.btn-container{
  display: flex;
  width: 100%;
  justify-content: space-around;
}

.btn{
  color: var(--text-black);
  padding: 1rem;
  border-radius: 5px;
  width: 100px;
  text-align: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  transition: all .3s ease-in-out;
  font-weight: bold;
  color: #947070;
}
.btn:hover{
  background-color: rgb(231, 200, 231);
  box-shadow: 8px 8px rgba(0, 0, 0, 0.1);
  color: black;
}
.certificates{
  margin: 3rem;
}
.certificates-container{
  display: flex;
  overflow-x: hidden;
  padding-top: 1rem;
  gap: 16px;
  scroll-behavior: smooth;
}
.certificates-container li{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  border-radius: 5px;
  transition: all .2s ease-in-out;
}
.slider-container{
  position: relative;
}
.slider-button-back, .slider-button-next{
  position: absolute;
  top: 150px;
  cursor: pointer;
  padding: .3rem;
  transition: all .3s ease-in-out;
  background-color: rgb(233, 202, 233);
  border-radius: 50%;
  z-index: 10;
}
.slider-button-back:hover, .slider-button-next:hover{
  position: absolute;
  top: 150px;
  cursor: pointer;
  background-color: plum;
  border-radius: 25%;
}
.slider-button-back{
  left: 0;
}
.slider-button-next{
  right: 0;
}
.certificate-img{
  width: 320px;
  height: auto;
}
.certificates-container p{
  color: var(--text-darkgrey);
  margin: 1rem 0;
}
.certificates-container li:hover{
  background-color: rgba(0, 0, 0, 0.1);
  cursor: pointer;
}
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); 
  z-index: 998;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 999;
}

.modal img {
  max-width: 100%;
  max-height: 80vh;
  display: block;
  margin: 0 auto;
}

.modal button {
  background-color: #4a4a4a;
  color: #fff;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  margin-top: 10px;
}
.resume-container{
  padding: 3rem;
  display: grid;
  place-content: center;
}
.resume-container li{
  list-style: disc;
  margin-left: 15px;
}
.resume-container h1, h2, h3 {
  color: #333;
  margin-top: 10px;
}

.resume-container a{
  color: #007BFF;
  text-decoration: none;
}

.experience, .education, .training {
  margin-bottom: 20px;
  font-size: 14px;
}

.dates {
  color: var(--text-darkgrey);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

.nav-header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.nav-link {
  text-decoration: none;
  padding: 0.5rem 1rem;
}

.nav-list {
  list-style: none;
  display: flex;
}
.skills-section{
  margin: 3rem;
  padding-bottom: .5rem;
  gap: 16px;
  display: flex;
  justify-content: space-around;
}
.skills-section h3{
  margin: 0 !important;
}
.skills-section ul{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.skill-card{
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 1rem;
  margin: 1rem;
  border-radius: 10px;
  font-weight: bold;
  transition: all .3s ease-in-out;
  cursor: pointer;
  width: 120px;
}
.skill-card:hover{
  background-color: plum;
}
@keyframes fadeIn {
  0% {
    transform: translateY(-15px);
  }
  50%{
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.nav-container,
.home-container,
.brand-logo-container,
.projects-container,
.project-card,
.btn-container,
.certificates,
.certificates-container,
.modal,
.resume-container,
.skills-section {
  animation: fadeIn .3s ease-in-out; /* Adjust the delay as needed */
}
@media (max-width: 768px) {
  .skills-section{
    margin: 0;
  }
  .nav-list {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #fff;

  }

  .nav-list.open {
    display: flex;
    margin-bottom: 10px;
  }

  .nav-link {
    color: #C4C4C4;
  }

  .nav-container.open {
    flex-direction: column;
    align-items: flex-start;
  }

  .nav-toggle {
    display: block;
    cursor: pointer;
  }

  .bar {
    height: 3px;
    width: 25px;
    background-color: #000;
    margin: 5px 0;
  }
}
@media (max-width: 800px) {
    .profile-pic{
      margin: 0;
    }
    .nav-list{
      display: none;
    }
    .home-container{
      text-align: center;
      flex-direction: column-reverse;
      align-items: center;
    }
    .nav-container{
      padding: 0;
    }
    .profile-pic{
      margin: 0;
      padding: 1rem;
      border-radius: 5px;
    }
    .brand-list{
      flex-direction: column;
      align-items: center;
    }
    .brand-list li{
      width: 100%;
    }
    .projects-container{
      padding: 0;
      margin: .3rem;
    }
    .nav-header{
      margin: 3rem;
    }
    .certificates{
      margin: .3rem;
    }
    .resume-container{
      padding: .3rem;
      margin: 1rem;
    }
  }


